.card-table {
    grid-column: 2/4;
    grid-row: 2/4;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 1.8rem;
    /* height: 501px; */
    overflow: auto;
}

.card-table__container{
    width: 100%;
    min-width: 100%;
}

.table-layout {
    width: 90%;
    margin: 0 auto;
    border-spacing: 0 0.5rem;
    
}

.table__head {
    
}
.table__head-tr{
    
    
}

.table__head-tr th {
    color: var(--card-template--title);
    background-color: var(--primary);
    font-weight: 400;
    padding: 1.6rem 3.2rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table__body {
    color: var(--white);
}
.table__body-tr {
    opacity: 0.91;
}
.table__body-tr:hover {
    opacity: 1;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.596);
}
.table__body-icons img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.table__body-tr td {
    padding: 1rem;
    text-align: center;
}

.table__body-tr td:first-child{
    border-radius: 10px 0 0 10px;
}

.table__body-tr td:last-child{
    border-radius: 0 10px 10px 0;
}

.table__body--income {
    background-color: var(--income-card);
}
.table__body--expense {
background-color: var(--expense-card);
}
.table__body--savings {
    background-color: var(--savings__card);
}

/* === Card header == */

.card__header--monthly__page {
    justify-content: space-around;
}

.card__btn-income {
    
}
.card__btn-expense {
    
}
.card__btn-savings {
    
}





