.cards {
  margin: 2rem 0 2rem 0;
}

.card__item {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}

.card--total {
    background-color: var(--primary);
    color: var(--white);
    grid-row-start: 2;
    grid-row-end: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: 400; 
}

.card__name--total {

}

.card__icon--total {
    margin-left: 10px;
}

.card__value {
    padding-top: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.8rem;
}

.card__value--total {  
    font-size: 4.2rem;
    padding-bottom: 1rem;
}

.card__chart--total {
    
}

.card--income {
    color: var(--income-card);
}
.card--expense {
    color: var(--expense-card);
}
.card--savings {
    color: var(--savings__card);
}

.card__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    height: 60px;
}

.card__icon:not(.card__icon--total) {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.card__name {
    
}

/* ===== CARD TEMPLATES ===== */

/* .card-template {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.card-template__headline {
    text-align: center;
    color: var(--card-template--title);
}

.card-template__nav {
    border-radius: var(--border-radius);
    height: 261px;
    overflow: overlay;
}

.card-template__income {
    background-color: var(--income-card);
    box-shadow: var(--box-shadow);
    border-radius: 10px 10px 0 0;
    padding: 2px;
}

.card-template__expense {
    background-color: var(--expense-card);
    box-shadow: var(--box-shadow);
    border-radius: 0 0 10px 10px;
    padding: 2px;
}

.card-template__title {
    height: 4.8rem;
    display: grid;
    grid-template-columns: 0.5fr 4fr 2fr;
    padding-top: 10px;
}

.card-template__chevron {
    margin-left: 1rem;
}
.card-template__chevron--down {
    transform: rotate(90deg);
}

.card-template__title--name {
 
}

.card-template__btn-add {
  
}

.card-template__list {
    
}

.card-template__item {
    
}

.card-template__name {
    color: var(--white);
}

.card-template__btn-minus {

} */

/*  ===== Cards CHARTS ===== */

.card-chart {
    grid-column: 2/5;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
}

.card-chart__item {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.chart--inc__exp {

}

.chart--savings {

}

/* === responsive */


@media (min-width: 1000px) {

    .card__container{    
        display: grid;
        grid-template-columns: repeat(3, minmax(243px, 1fr));
        grid-template-rows: 210px 130px 36vh;
        gap: 20px;
    }
}




 



