.header {
    background-color: var(--secondary);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.507);
    padding: 5px;
    position: sticky;
    top: 0;
    left: 0;

}

.header__container {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.header__btn {
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: 500ms;
}

.header__btn--clicked {
    left: 240px;
}

.header__btn img {
    width: 28px;
}

.header__logo {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center center;
    width: 100%;
    height: 4.8rem;
}

.header__name {
    color: var(--main-title);
}

.header__user {

}

.folder-open {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder-open__icon {
    width: 30px;
    height: 20px;
    margin-right: 1rem;
}

.folder-open__year {
  cursor: pointer;
}

.folder-open__month {
    cursor: pointer;  
}

@media (min-width: 610px) {
    .header__logo {
        background-image: url(../img/logo-title.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        height: 4.8rem;
    }
}